
<%= render 'header' %>

<h1>Administration </h1>
<p>Categories <%= link_to "Category", "/admin/categories" %></p>

<p>Posts <%= link_to "Posts", "/admin/posts" %></p>

<p>News <%= link_to "News", "/admin/news" %></p>
