        
        <hr class="noscreen" />
        
        <!-- Footer start -->
        
        <p class="footer">
            <span class="floatLeft">&copy; 2011 - <a href="/">Patrik Majer (www.hujer.info)</a></span>

              <!-- Don't delete the links! -->
                <span id="dont-delete-this" class="floatRight noprint">
            	    Powered by <a href="./" title="Ruby on Rails">Ruby on Rails</a> | Created by <a href="mailto:me@hujer.info" class="">Patrik Majer</a>
                </span>
              <!-- Thank you :) -->

        </p>

        <!-- Footer end -->

