	<div id="intro">
            <div class="wrap clearfix">
                <div class="floatRight">
                    <h1>Hujerovo pokusný hosting <span class="fontSmall" >(Hujer's Hosting Virtual)</span></h1>
                    <p>Projekt hostování webových projektů naprogramovaných různými jazyky a provoz na různých technických řešeních.
                    Aktuálně sloužící pro testovací účely.</p>
                    
                    <a href="/" class="button buttonPadding"><span>Hlavní stránka</span></a>
                    
                    <a href="http://hhv.hujer.info/admin" class="button buttonPadding"><span>Administrace</span></a>

                    <a href="/admin" class="button"><span>Administrace webu</span></a>

                </div>
                <div class="photo">
                    <!-- Image size: 200x126 pixels -->
                    <%= image_tag("image.jpg", :alt => "photo title") %>
                </div>
            </div>
        </div>
